
a {
  color: #0000A7;	
}

.post {
  margin-bottom: 1em;
}

.page-title,
.post-title {
  font-family:verdana
}

.page-title-inline,
.post-title-inline {
  display: inline;
  margin-top: 0;
}

.post-title-colored {
  font-family:verdana;
  color: #303030;
}

.post-title-colored a {
  color: #0000A7;
}

.post-date-inline {
  display: inline;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

.post-tags {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #303030;
}
.post-tags-inline {
  display: inline;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #303030;
  font-family:verdana;
  font-size:16px;
}
.post-meta-tags {
  display: inline;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #B22222;
}

.masthead {
  padding-top:    1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #eee;
}
.masthead-title,
.masthead-title a {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: #097969;
}
.masthead-subtitle,
.masthead-subtitle a {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: #505050;
}

.underline {
  text-decoration: underline;
}