---
layout: blog
title: Идеи, задачи, планы на будущее
---
<div class="posts">
  <h2>Наиболее важное:</h2>
  {% for post in site.ideas %}
    {% if 7 <= post.importance and post.importance <= 10 %}
      <div class="post">
	    <span class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></span><br>
		<span class="post-tags-inline">
	      {% for tag in post.tags %}
	        <a href="/blog/tags.html#{{ tag }}">#{{ tag }}</a>
	      {% endfor %}
	    </span>
      </div>
    {% endif %}
  {% endfor %}
  <h2>Средне важное:</h2>
  {% for post in site.ideas %}
    {% if 4 <= post.importance and post.importance <= 6 %}
      <div class="post">
	    <span class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></span><br>
		<span class="post-tags-inline">
	      {% for tag in post.tags %}
	        <a href="/blog/tags.html#{{ tag }}">#{{ tag }}</a>
	      {% endfor %}
	    </span>
	  </div>
    {% endif %}
  {% endfor %}
  <h2>Наименее важное:</h2>
  {% for post in site.ideas %}
    {% if 1 <= post.importance and post.importance <= 3 %}
      <div class="post">
	    <span class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></span><br>
		<span class="post-tags-inline">
	      {% for tag in post.tags %}
	        <a href="/blog/tags.html#{{ tag }}">#{{ tag }}</a>
	      {% endfor %}
	    </span>
	  </div>
    {% endif %}
  {% endfor %}
</div>