---
layout: blog
title: Кирдан
head: Кирдан
---
<div class="posts">
  <h2>Наиболее важное:</h2>
  {% for post in site.posts %}
    {% if 7 <= post.importance and post.importance <= 10 %}
      <div class="post">
	    <big><span class="post-date-inline">{{ post.date | date: "%Y.%m.%d" }}</span>&nbsp;
	    <span class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></span></big>
		<!-- <span class="post-meta-tags" color=#B22222>
		  {% for tag in post.meta_tags %}
	       &middot; {{ tag }}
	      {% endfor %}
		</span>&middot; --><br>
	    <!-- {% if post.vk %}<a href="{{ post.vk }}"><i class="fa-brands fa-vk" aria-hidden="true"></i></a>{% endif %}
	    {% if post.telegram %}<a href="{{ post.telegram }}"><i class="fa-brands fa-telegram" aria-hidden="true"></i></a>{% endif %} -->
        <span class="post-tags-inline">
	      {% for tag in post.tags %}
	        <a href="/blog/tags.html#{{ tag }}">#{{ tag }}</a>
	      {% endfor %}
	    </span>
      </div>
    {% endif %}
  {% endfor %}
  <hr>
  <h2>Средне важное:</h2>
  {% for post in site.posts %}
    {% if 4 <= post.importance and post.importance <= 6 %}
      <div class="post">
	    <span class="post-date-inline">{{ post.date | date: "%Y.%m.%d" }}</span>&nbsp;
	    <span class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></span>
	    <br>
		<span class="post-tags-inline">
	      {% for tag in post.tags %}
	        <a href="/blog/tags.html#{{ tag }}">#{{ tag }}</a>
	      {% endfor %}
	    </span>
	  </div>
    {% endif %}
  {% endfor %}
  <hr>
  <h2>Наименее важное:</h2>
  {% for post in site.posts %}
    {% if 1 <= post.importance and post.importance <= 3 %}
      <div class="post">
	    <span class="post-date-inline">{{ post.date | date: "%Y.%m.%d" }}</span>&nbsp;
	    <span class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></span>
	    <br>
		<span class="post-tags-inline">
	      {% for tag in post.tags %}
	        <a href="/blog/tags.html#{{ tag }}">#{{ tag }}</a>
	      {% endfor %}
	    </span>
	  </div>
    {% endif %}
  {% endfor %}
</div>