<!DOCTYPE html>

<html lang="en-us">

  {% include head.html %}

  <body>
    <div class="wrap">
	  <div class="masthead">
		<div class="container">
          <h2 class="masthead-title">
			{% if page.nav_id == 0 %} <u>Кирдан</u> {% else %} <a href="{{ '/index.html' | relative_url }}">Кирдан</a> {% endif %}
          </h2>
		  <h3 class="masthead-subtitle">
		    {% if page.nav_id == 1 %} <u>блог</u> {% else %} <a href="{{ '/blog/index.html' | relative_url }}">блог</a> {% endif %} &middot;
			{% if page.nav_id == 2 %} <u>темы</u> {% else %} <a href="{{ '/blog/tags.html' | relative_url }}">темы</a> {% endif %} &middot;
			{% if page.nav_id == 3 %} <u>описание</u> {% else %} <a href="{{ '/blog/about.html' | relative_url }}">описание</a> {% endif %} &middot;
			{% if page.nav_id == 4 %} <u>ссылки</u> {% else %} <a href="{{ '/blog/links.html' | relative_url }}">ссылки</a> {% endif %}
		  </h3>
        </div>
      </div>
	  <div class="container content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
