---
layout: blog
---

<!-- МОДИФИЦИРОВАНО -->

{% if page.show_title == true %}
  <h1 class="post-title">{{ page.title }}</h1>
{% endif %}

<div class="post">
  <span class="post-date">
    {% if page.updated %}
      {{ page.date | date: "%Y.%m.%d" }}-{{ page.updated | date: "%Y.%m.%d" }}
    {% else %}
      {{ page.date | date: "%Y.%m.%d" }}
    {% endif %}
  </span>
  {{ content }}
  <hr>
  <span class="post-tags">
    {% for tag in page.tags %}
      <a href="/blog/tags.html#{{ tag }}">#{{ tag }}</a>
    {% endfor %}
  </span>
</div>